<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection Merchandiser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body style="margin: 0 auto; background-color: #F4F6F8;">

    <div class="page-container">
      <h1>Automations</h1>
      <p>Automations allow you to make changes to a collection's sort order automatically. Just set
    an automation and when it's triggered your collections of choice will be sorted for you.</p>

      <div class="card">
        <div class="card-header"><h5 style="display: inline;">Automation: New Product Added to Top of Collection</h5>
          <span style="display: inline; float: right;" class="custom-control custom-switch">
            <input id="products/create" type="checkbox" {% if webhookIds != [] %}checked{% endif %} class="custom-control-input webhook-control" data-webhook-topic="products/create" data-webhook-id="{{webhookIds[0]}}" id="products/create">
            <label class="custom-control-label" for="products/create">Enable</label>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">When a new product is added to your store, it will be automatically placed at the top of your specified collections. <span data-toggle="modal" href="#modalInfoNewProduct" role="button" style="text-decoration: underline;" class="card-text">More Info</span></p>

          <h6 style="margin: 0;" class="card-title">Edit Collections</h6>
          <p class="card-text">Select which collections are sorted by this automation.</p>
          <button class="btn-standard btn btn-standard__collection" onclick="newProductPicker.dispatch(ResourcePicker.Action.OPEN)">Add a Collection</button>
          <button class="btn-standard btn btn-standard__collection" onclick="retrieveCollections('new_products_automation')">View Selected Collections</button>
          
          <div style="max-height: 220px; overflow: scroll; margin-top: 5px">
            <ul id="new-products-collections" class="list-group">
            </ul>
          </div>
        </div>
      </div>

      <div style="margin-top: 20px" class="card text-white bg-info">
        <div class="card-header"><h5 style="display: inline;">Add More Automations</h5>
        </div>
        <div class="card-body">
          {% if mail_sent == 'unsuccessful' %}
            <div style="margin: 10px;" class="alert alert-danger" role="alert">
              <span>Message was not sent successfully. Please contact help@matthewdenoronha.com.</span>
            </div>
          {% elif mail_sent == 'successful' %}
            <div style="margin: 10px;" class="alert alert-success" role="alert">
              <span>Message was sent successfully. We'll be in touch within 24 working hours.</span>
            </div>
          {% endif %}

          <p class="card-text">Automations are currently in Beta and have limited functionality. If there's a sort automation you'd like to see or if you're experiencing issues, let us know!</p>
          <p class="card-text">All messages are replied to within 24 working hours</p>
          <form method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input required name="nameFormInput" type="text" class="form-control" id="nameFormInput" placeholder="John Doe">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input required type="email" class="form-control" id="emailFormInput" name="emailFormInput" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Feature Request</label>
              <textarea required class="form-control" id="messageFormInput" name="messageFormInput" placeholder="The feature I'd like to see is..." rows="3"></textarea>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-standard">Submit</button>
            </form>
        </div>
      </div>

    <!-- Modals -->
      <div class="modal fade" id="modalInfoNewProduct" tabindex="-1" role="dialog" aria-labelledby="modalInfoNewProduct" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Product Added to Top of Collection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6 style="margin: 0;" class="card-title">How does it work?</h6>
              <p class="card-text">This automation is triggered when you add a product to your store through the Shopify admin panel, product CSV import or most third party apps. It places your new product at the top of all collections you've specified.</p>
              <h6 style="margin: 0;" class="card-title">How long does it take?</h6>
              <p class="card-text">Please allow for 10-12 minutes for the product to be sorted.</p>
              <h6 style="margin: 0;" class="card-title">How do I turn this automation on?</h6>
              <p class="card-text">Simply choose which collections you'd like the app to sort by clicking the 'Add a Collection' button. You can view which collections the automation will sort by clicking 'View Selected Collections'. From there you can also remove collections by clicking the 'X'.</p>
              <p class="card-text">Turning on the automation is as simple as clicking the enable button. To stop the automation, simply turn the enable button to the off position.</p>
              <h6 style="margin: 0;" class="card-title">The product I've added hasn't been sorted?</h6>
              <p class="card-text">Please make sure that the collections you've selected are sorted manually (not through Best Selling, A-Z alphabetically, etc.). Collection Merchandiser will not edit non-manually sorted collections. If you are still experiencing issues, please contact support at help@matthewdenoronha.com.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>

    body {
      padding: 10% !important;
    }

    .btn-standard {
      background-color: rgb(63, 78, 174);
      border-color: rgb(63, 78, 174);
      cursor: pointer;
      display: block;
      color: white;
    }

    .btn-standard__collection {
      font-size: 0.8em;
      display: inline;
      margin: 0 5px;
    }

    .remove-collection-button {
      float: right;
      color: rgb(63, 78, 174);
      cursor: pointer;
    }

    .btn:hover {
      color: white;
    }
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script script src="https://unpkg.com/@shopify/app-bridge"></script>

    <script type="text/javascript">
    // Init
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      apiKey: '6f3f5898d1df75bdb86fce83780bfb4b',
      shopOrigin: '{{shop}}',
    });

    var AppBridge = window['app-bridge'];
    var actions = AppBridge.actions;
    var ResourcePicker = actions.ResourcePicker;
    var Button = actions.Button;
    var ButtonGroup = actions.ButtonGroup;
    var Redirect = actions.Redirect;
    var TitleBar = actions.TitleBar;

    // Init redirect
    const redirect = Redirect.create(app);

    // Collection selector
    const newProductPicker = ResourcePicker.create(app, {
      resourceType: ResourcePicker.ResourceType.Collection,
      options: {
        selectMultiple: true,
      },
    });

    $('.webhook-control').on('change', function(checkbox) {
      if($(this).is(':checked')) {
        createWebhook($(this).data('webhook-topic'), 'create')
      } else {
        createWebhook($(this).data('webhook-topic'), 'delete')
      }
    })

    function createWebhook(webhook, action) {
      $.ajax({
        url: 'https://shopify-stock-app.herokuapp.com/update_webhook',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          'shop': '{{shop}}',
          'access_token': '{{access_token}}',
          'webhook': webhook,
          'action': action,
          'csrfmiddlewaretoken': '{{csrf_token}}'
        })
      })
    }

    function submitCollections(selection, automation) {
      var collectionIds = selection.map(function(collection) {
        var tempCollection = collection.id.split('/')
        return {
          collectionId: tempCollection[tempCollection.length - 1],
          title: collection['title'],
          handle: collection['handle']
        }
      })
      var data = {
        'update_payload': collectionIds,
        'shop': '{{shop}}',
        'automation': automation,
        'csrfmiddlewaretoken': '{{csrf_token}}'
      }
      $.ajax({
        url: 'https://shopify-stock-app.herokuapp.com/automations_update',
        type: 'POST',
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function() {
          retrieveCollections(automation)
        }
      })
    }

    function retrieveCollections(automation) {
      $.ajax({
        url: 'automations_retrieve',
        type: 'GET',
        data: {
          'automation': automation,
          'shop': '{{shop}}'
        },
        success: function(response){
          $('#new-products-collections').html('')
          response['data'].forEach(function(collection){
            $('#new-products-collections').append('<li class="list-group-item collection-list-item">' + collection.title + '<span class="remove-collection-button" data-automation="' + automation + '" data-handle="' + collection.handle + '">X</span></li>')
          })
          activateRemoveButtons()
        }
      })
    }

    function activateRemoveButtons() {
      $('.remove-collection-button').on('click', function() {
        let collectionHandle = $(this).data('handle')
        let automation = $(this).data('automation')
        let list_item = $(this).closest('.collection-list-item')
        $.ajax({
          url: 'https://shopify-stock-app.herokuapp.com/automations_delete',
          type: 'POST',
          contentType: "application/json",
          data: JSON.stringify({
            'collectionHandle': collectionHandle,
            'automation': automation,
            'shop': '{{shop}}'
          }),
          success: function() {
            list_item.remove()
          }
        })
      })
    }
    
    // Secondary buttons
    const homeButton = Button.create(app, {label: 'Home'});
    const contactButton = Button.create(app, {label: 'Contact'});
    const instructionsButton = Button.create(app, {label: 'Instructions'});
    const privacyButton = Button.create(app, {label: 'Privacy Policy'});
    const automationsButton = Button.create(app, {label: 'Automations'});

    const groupButton = ButtonGroup.create(app, {label: 'Navigation', buttons: [homeButton, contactButton,automationsButton, instructionsButton, privacyButton]});
    // Secondary buttons actions
    const viewContact = contactButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/contact');
    });
    const homeContact = homeButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/home');
    });
    const viewInstructions = instructionsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/instructions');
    });
    const viewPrivacy = privacyButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/privacy-policy');
    });
    const viewAutomations = automationsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/automations');
    });

    // Title bar
    const titleBarOptions = {
      title: 'Home',
      buttons: {
        secondary: [groupButton]
      },
    };
    const myTitleBar = TitleBar.create(app, titleBarOptions);

    newProductPicker.subscribe(ResourcePicker.Action.SELECT, ({selection}) => {
      submitCollections(selection, 'new_products_automation')
    })
    </script>
  </body>
</html>