<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection Merchandiser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body style="margin: 0 auto;padding: 5% 30px; background-color: #F4F6F8;">
    <h1>Products</h1>

    {% if response_status == 200 %}
    <div class="alert alert-success" role="alert">
      Sort order successfully changed
    </div>
    {% elif response_status != 'unchanged' %}
    <div class="alert alert-danger" role="alert">
      There was a problem. Please contact support
    </div>
    {% endif %}

    {% if not manual_sort_order %}
    <div class="alert alert-danger" role="alert">
      This collection is not sorted manually. Change the collection sort method in order to reorder products.
    </div>
    {% endif %}

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Show Options
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h4>Display Options</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Products per Row</label>
              </div>
              <select id="row-select" class="custom-select" id="inputGroupSelect01">
                <option value="" selected="" disabled>Row</option>
                <option value="8.33%">12</option>
                <option value="9.09%">11</option>
                <option value="10%">10</option>
                <option value="11.11%">9</option>
                <option value="12.5%">8</option>
                <option value="14.28%">7</option>
                <option value="16.66%">6</option>
                <option value="20%">5</option>
                <option value="25%">4</option>
                <option value="33.33%">3</option>
                <option value="50%">2</option>
              </select>
            </div>
            <div class="input-group mb-3 input-group__checkbox">
              <div class="input-group-text">
                <label for="show_text">Product Title </label>
                <input class="input-group__show" checked type="checkbox" name="show_text" aria-label="Checkbox for following text input" >
              </div>
              <div class="input-group-text">
                <label for="show_variants">Variants Left in Stock</label>
                <input class="input-group__show" checked type="checkbox" name="show_variants" aria-label="Checkbox for following text input" >
              </div>
              <div class="input-group-text">
                <label for="show_stock">Total Remaining Stock</label>
                <input class="input-group__show" checked type="checkbox" name="show_stock" aria-label="Checkbox for following text input" >
              </div>
              <div class="input-group-text">
                <label for="show_available">Available on Online Store</label>
                <input class="input-group__show" checked type="checkbox" name="show_available" aria-label="Checkbox for following text input" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="sortable" style="display: flex; flex-wrap: wrap; align-content: baseline;">
      {% for collect in collects.collects %}
        {% for product in products %}

          {% if product.id == collect.product_id %}

            <div data-position={{collect.position}} data-collect-id="{{collect.id}}" data-product-id="{{product.id}}" class="product-sort col-4">
              <div style="background-color: white; margin: 5px; border-radius: .25rem;">
              <div class="product-sort__card card" style="padding: 3px;">
              {% if product.images[0] %}
              <img class="product-sort_image" src="{{product.images[0].src}}" style="width: 100%;">
              {% endif %}
              <div style="padding: 5px 0; text-align: center; background-color: white;">
              <h6 class="show_text__output">{{ product.title }}</h6>

              {% set price = product.variants[0].price %}
              <p class="show_price__output">{{ shop_currency |replace('{{amount}}', price, 1) }}<p>
              {% if not product.published_at %}
              <span class="show_available__output badge badge-secondary">Unavailable</span>
              {% else %}
              <span class="show_available__output badge badge-success">Available</span>
              {% endif %}

            <!-- Check variants in stock -->
              {% set variables_count = [0] %}
              {% set total_count = [0] %}
              {% set ns = namespace(no_inventory_management=false) %}

              {% for variant in product.variants %}
                {% if not variant.inventory_management %}
                  {% set ns.no_inventory_management = true %}
                {% endif %}
                {% if total_count.append(total_count.pop() + variant.inventory_quantity) %}{% endif %}
              {% if variant.inventory_quantity > 0 %}
                {% if variables_count.append(variables_count.pop() + 1) %}{% endif %}
              {% endif %}
              {% endfor %}

              <!-- Work our percentage -->
                {% set total = product.variants | length %}

                <div {% if ns.no_inventory_management %}style="display: none"{% endif %} class="show_inventory__output">
                  {% if variables_count[0] != 0 %}
                    {% set percent = variables_count[0] / total * 100 %}
                    <p data-variants-percent="{{percent|round|int}}" class="product-sort__percent show_variants__output">{{percent|round|int}}%</p>
                  {% else %}
                    <p data-variants-percent="0" class="product-sort__percent show_variants__output">0%</p>
                  {% endif %}
                  <p class="show_stock__output">{{total_count[0]}}</p>
                </div>
                <span {% if not ns.no_inventory_management %}style="display: none"{% endif %} class="show_no_inventory__output show_variants__output wrapped-badge badge badge-secondary" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Some or all variants of this product don't track inventory. For this reason stock information is not shown">Non-Standard Inventory</span>
              </div>
              </div>
              </div>
            </div>

          {% endif %}

        {% endfor %}
      {% endfor %}
    </div>
    <div>
      <button style="background-color: #3f4eae; border-color: #3f4eae; cursor: pointer; margin: 10px auto; width: 40%; max-width: 200px; display: block;" id="load-more" type="button" class="btn btn-primary">Load More</button>
    </div>
    <div>
      <form style="display: none;" id="sort-change" method="POST" enctype="multipart/form-data">
        <input id="collection-sort" class="collection-sort" value="" type="text" name="products-switch">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button disabled id="collection-sort__submit">SUBMIT</button>
      </form>
    </div>

    <style>
      .btn.disabled, .btn:disabled {
        opacity: 0.3;
      }

      .wrapped-badge {
        word-wrap: break-word; 
        width: 100%; 
        white-space: unset;
      }
    </style>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- App SDK -->
    <script src="https://unpkg.com/@shopify/app-bridge@1.6/umd/index.development.js"></script>
    <!-- jQuery Touch Punch for mobile functionlaity -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


    <script type="text/javascript">
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      apiKey: '06508637004c80c9f5f731440fb36242',
      shopOrigin: '{{shop}}',
    });

    var AppBridge = window['app-bridge'];
    var actions = AppBridge.actions;
    var ResourcePicker = actions.ResourcePicker;
    var Button = actions.Button;
    var ButtonGroup = actions.ButtonGroup;
    var TitleBar = actions.TitleBar;
    var Redirect = actions.Redirect;

    // Init redirect
    const redirect = Redirect.create(app);

    // Save button
    const save = Button.create(app, {label: 'Save'});
    save.set({disabled: true});
    const saveCollection = save.subscribe(Button.Action.CLICK, data => {
      $('#sort-change').submit()
    });

    // Secondary buttons
    const homeButton = Button.create(app, {label: 'Home'});
    const contactButton = Button.create(app, {label: 'Contact'});
    const instructionsButton = Button.create(app, {label: 'Instructions'});
    const privacyButton = Button.create(app, {label: 'Privacy Policy'});

    const groupButton = ButtonGroup.create(app, {label: 'Navigation', buttons: [homeButton, contactButton, instructionsButton, privacyButton]});
    // Secondary buttons actions
    const viewContact = contactButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/contact');
    });
    const homeContact = homeButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/home');
    });
    const viewInstructions = instructionsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/instructions');
    });
    const viewPrivacy = privacyButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/privacy-policy');
    });

    const titleBarOptions = {
      title: 'Collection',
      buttons: {
        primary: save,
        secondary: [groupButton]
      },
    };
    const myTitleBar = TitleBar.create(app, titleBarOptions);

    // Update background colors based on variant percent
    $('.product-sort__percent').each(function() {
      var percent = -(($(this).data('variants-percent') - 100) / 100)
      if (percent != -0 ) {
        $(this).closest('.product-sort__card').css('background-color', 'rgba(165, 28, 28,' + percent + ')')
      }
    })

    {% if manual_sort_order %}

    $(document).ready(function() {

      // Enable popovers
      $('[data-toggle="popover"]').popover()

      {% if custom_collection %}

      // Update input form with values for custom collection
      $( "#sortable" ).sortable({
        change: function( event, ui ) {
          $(window).mouseup(function() {
          var sortableString = "";
          $('.product-sort').each(function(i){
            var collectId = ""
            var count = i + 1
            sortableString += $(this).data('collect-id') + ',' + count;
            if(count != $('.product-sort').length) { sortableString += (';') }
          });
          save.set({disabled: false});
          $('.collection-sort').val(sortableString)
        })
        }
      });

      {% else %}

      // Update input form with values for smart collection
      $( "#sortable" ).sortable({
        change: function( event, ui ) {
          $(window).mouseup(function() {
          var sortableString = "";
          $('.product-sort').each(function(i){
            var collectId = ""
            var count = i + 1
            sortableString += 'products[]=' + $(this).data('product-id')
            if(count != $('.product-sort').length) { sortableString += ('&') }
          });
          save.set({disabled: false});
          $('.collection-sort').val(sortableString)
        })
        }
      });

      {% endif %}

      $("#sortable").disableSelection();

    {% endif %}

    // Update products per row
    var rows = sessionStorage.getItem("Rows")
    if (rows) { 
      $('.product-sort').css('width', rows).removeClass('col-4')
      $('#row-select option[val="' + rows + '"]').attr('selected', 'selected')
    }

    $('#row-select').change(function() {
      sessionStorage.Rows = $(this).val()
      $('.product-sort').css('width', $(this).val()).removeClass('col-4')
    })

    // Display options
    var show_properties = ['show_text', 'show_variants', 'show_stock', 'show_available']
    $(show_properties).each(function(index, value) {
        if (!sessionStorage[value]) {
          sessionStorage.setItem(value, 'show')
        } else if (sessionStorage[value] == 'hide') {
          $('.input-group__show[name=' + value + ']').prop('checked', false)
          $('.' + value + '__output').addClass('hidden')
        }
      })  

    $('.input-group__show').change(function() {
        var ChangedOutput = $(this).attr('name');
        $('.' + ChangedOutput + '__output').toggleClass('hidden');
        sessionStorage[ChangedOutput] == 'show' ? sessionStorage.setItem(ChangedOutput, 'hide') : sessionStorage.setItem(ChangedOutput, 'show') 
      });

    {% if manual_sort_order %}
    })
    {% endif %}

    // If more products to load, show load more button
    var next_link = '{{next_link}}'
    {% if next_active %}
    var next_active = true
    {% else %}
    var next_active = false
    {% endif %}
    next_active ? $('#load-more').attr('disabled', false) : $('#load-more').attr('disabled', true)

    // AJAX to retrieve next 10 products, copy first product card, update values to new products and
    // append to sortable section
    $('#load-more').on('click', function() {
      $('#load-more').attr('disabled', true)
      $.ajax({
        url: 'https://shopify-stock-app.herokuapp.com/ajax-collects',
        type: 'GET',
        data: { 'next_link' : next_link,
           'csrfmiddlewaretoken': '{{csrf_token}}'
         },
        success: function(response) {
          $('#load-more').attr('disabled', false)
          $.each(response.collect_products, function(index, value) {
            // Update cards' ids
            var el = $('.product-sort:first-child')
                .clone()
                .attr('data-collect-id', value.collect_id)
                .attr('data-product-id', value.product_id)
                .attr('data-position', value.position)

            // Update card image, title & price
            el.find('.product-sort_image').attr('src', value.product_image.src)
            el.find('.show_text__output').text(value.product_title)
            var currency = '{{ shop_currency }}'
            {% raw %}
            var price = value.product_varied_price ? currency.replace('{{amount}}', value.product_price) + '(Varied)' : currency.replace('{{amount}}', value.product_price) 
            {% endraw %}
            el.find('.show_price__output').text(price)

            // Update variants (total and percentage)
            if(value.no_inventory_management) {
              // If product does not track inventory
              el.find('.show_inventory__output').css('display', 'none')
              el.find('.show_no_inventory__output').css('display', 'block')
              var avail_variants = 100
              el.find('.show_variants__output').data('percent', avail_variants)
            } else {
              // If product does track inventory
              el.find('.show_inventory__output').css('display', 'block')
              el.find('.show_no_inventory__output').css('display', 'none')
              var avail_variants = Math.floor(value.avail_variants * 100)
              avail_variants == 0 ? el.find('.show_variants__output').data('percent', avail_variants) : el.find('.show_variants__output').data('percent', avail_variants + '%') 
              el.find('.show_variants__output').text(avail_variants + '%')
              el.find('.show_stock__output').text(value.total_variants)
            }

            // Update products availability
            el.find('.show_available__output').text(value.product_available)
            value.product_available == 'Unavailable' ? el.find('.show_available__output').removeClass('badge-success').addClass('badge-secondary') : el.find('.show_available__output').addClass('badge-success').removeClass('badge-secondary')

            // Update background color based on variant percentage
            $(el).find('.product-sort__card').css('background-color', 'white')
            var percent = -((avail_variants - 100) / 100)
            if(percent != 0) {
              $(el).find('.product-sort__card').css('background-color', 'rgba(165, 28, 28,' + percent + ')')
            }
            // Add to sortable section
            $(el).insertAfter(".product-sort:last-child")

            // Enable popover
            $('[data-toggle="popover"]').popover()
          });
          // Update next_link and load more based on whether there are more products to load
          next_link = response.next_link
          next_active = response.next_active
          next_active ? $('#load-more').attr('disabled', false) : $('#load-more').attr('disabled', true)
        }
      });
    });

    </script>

    <style>

      .hidden {
        display: none;
      }

      .input-group__checkbox .input-group-text {
        margin: 10px;
        margin-left: 0;
      }

      .accordion>.card:first-of-type {
        border-bottom: 1px solid rgba(0,0,0,.125);;
      }

      .input-group__checkbox label {
        margin-bottom: 0;
        margin-right: 5px;
      }

      .product-sort p {
        font-size: 0.7em;
        margin: 0.2em;
      }

      .badge {
        font-size: 60%;
      }
    </style>
  </body>
</html>