{% extends "layout.html" %}

{% block page %}collection{% endblock %}
{% block content %}
	<div id="full-screen-overlay">
		<div class="loadingio-spinner-rolling-hk0ecpc78o4"><div class="ldio-t1tprsvy82">
		<div></div>
		</div></div>
	</div>

	<div id="manual-error" class="hide alert alert-danger" role="alert">
	  This collection is not sorted manually. <a target="_blank" href="https://{{shop}}/admin/collections/{{collection_id}}">Change the collection sort method</a> to Manual in order to reorder products.
	</div>

	<div id="large-collection-error" class="hide alert alert-danger" role="alert">
	  As this is a large collection, you may experience longer waiting times when loading/sorting products. For a faster experience use <a target="_blank" onclick="redirect.dispatch(Redirect.Action.APP, '/collection-new/{{collection_id}}')">Standard Sorting</a>
	</div>
	

	<!-- Display Options -->
	<div class="card display-options">
	    <div class="card-header accordian-title" id="headingOne" data-toggle="collapse" data-target="#displayOptionsCollapse" aria-expanded="true" aria-controls="displayOptionsCollapse">
	      <h5 class="mb-0">
	        <p class="card-title">
	          Display Options
	        </p>
	      </h5>
	    </div>

	    <div id="displayOptionsCollapse" class="collapse" aria-labelledby="displayOptionsCollapse">
	      <div class="card-body">
	      	<div class="btn-group" role="group">
	      	  <button onclick="collectionUtils.displayButton('title')" type="button" id="button-title" class="btn btn-secondary">Title</button>
	      	  <button onclick="collectionUtils.displayButton('productPrice')" type="button" id="button-productPrice" class="btn btn-secondary">Price</button>
	      	  <button onclick="collectionUtils.displayButton('availability')" type="button" id="button-availability" class="btn btn-secondary">Availability</button>
	      	  <button onclick="collectionUtils.displayButton('daysCreated')" type="button" id="button-daysCreated" class="btn btn-secondary">Created Date</button>
	      	  <button onclick="collectionUtils.displayButton('totalInventory')" type="button" id="button-totalInventory" class="btn btn-secondary">Inventory</button>
	      	  <button onclick="collectionUtils.displayButton('productVariants')" type="button" id="button-productVariants" class="btn btn-secondary">Variants</button>
	      	</div>
	      	<div class="mt-2">
	      		<label for="productsPerRow">Products per row</label>
	      	    <select class="form-control" id="productsPerRow">
	      			<option value="8.33%">12</option>
	      			<option value="9.09%">11</option>
	      			<option value="10%">10</option>
	      			<option value="11.11%">9</option>
	      			<option value="12.5%">8</option>
	      			<option value="14.28%">7</option>
	      			<option value="16.66%">6</option>
	      			<option value="20%">5</option>
	      			<option value="25%">4</option>
	      			<option value="33.33%">3</option>
	      			<option value="50%">2</option>
	      	    </select>
	      	</div>

	      	<div class="mt-2 custom-control custom-switch">
	      	  <input onchange="collectionUtils.displayButton('unavailable')" type="checkbox" class="custom-control-input" id="unavailable">
	      	  <label class="custom-control-label" for="unavailable">Hide products unavailable on Online Store</label>
	      	</div>
      </div>
    </div>
	</div>

	<!-- Auto Sort -->
	<div class="card mt-3 display-options">
	    <div class="card-header accordian-title" id="headingOne" data-toggle="collapse" data-target="#quickSortCollapse" aria-expanded="true" aria-controls="quickSortCollapse">
	      <h5 class="mb-0">
	        <p class="card-title card-title-link">
	          Quick Sort
	        </p>
	      </h5>
	    </div>

	    <div id="quickSortCollapse" class="collapse" aria-labelledby="quickSortCollapse">
	      <div class="card-body">
	      	<div id="sort-all-time" class="alert alert-warning" role="alert">	  
	      	</div>
	        <ul class="list-group">
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Out of Stock</p>
			  	  	<h5 class="card-title">Send all out of stock products to the bottom</h5>
			  	    </div>
			  	    <button onclick="window.sortHelper.inventoryBottom()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Inventory</p>
			  	  	<h5 class="card-title">Send products with inventory <select class="form-control inline-input-medium" id="inventoryCountCompare">
				      <option selected value="<">Below</option>
				      <option value="<=">Below or equal to</option>
				      <option value="==">Exactly</option>
				      <option value=">=">Above or equal to</option>
				      <option value=">">Above</option>
				    </select> <input type="number" class="form-inline inline-input form-control" id="inventoryCountInput"> to the <select class="form-control inline-input-medium" id="inventoryCountSelect">
				      <option value="bottom" selected>Bottom</option>
				      <option value="top">Top</option>
				    </select></h5>
			  	  	<h6 class="card-subtitle mb-2 text-muted"></h6>
			  	    </div>
			  	    <button onclick="window.sortHelper.inventoryNum()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Created Date</p>
			  	  	<h5 class="card-title">Send products created <select class="form-control inline-input-medium" id="createdDateCompare">
				      <option value="<">Less than</option>
				      <option value="<=">Less than or exactly</option>
				      <option value="==">Exactly</option>
				      <option value=">=">More than or exactly</option>
				      <option selected value=">">More than</option>
				    </select> <input type="number" min="0" class="form-inline inline-input form-control" id="createdDateInput"> day(s) ago to the <select class="form-control inline-input-medium" id="createdDateSelect">
				      <option value="bottom" selected>Bottom</option>
				      <option value="top">Top</option>
				    </select></h5>
			  	  	<h6 class="card-subtitle mb-2 text-muted"></h6>
			  	    </div>
			  	    <button onclick="window.sortHelper.daysSort()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	</ul>
	      </div>
	    </div>
	</div>


	<div class="form-inline d-none">
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="title">
			<label class="card-display-option form-check-label" for="title">Product Title</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="productPrice">
			<label class="card-display-option form-check-label" for="productPrice">Product Price</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="availability">
			<label class="card-display-option form-check-label" for="availability">Availability</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="daysCreated">
			<label class="card-display-option form-check-label" for="daysCreated">Days Since Created</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="totalInventory">
			<label class="card-display-option form-check-label" for="totalInventory">Total Inventory</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="productVariants">
			<label class="card-display-option form-check-label" for="productVariants">Variants</label>
		</div>
	</div>

	<div>
	<div class="pt-5 pb-5">
		<div class="container-fluid">
			<div id="sortable">
				<div class="row" id="products__container">
				</div>
			</div>
		</div>
	</div>
	<button data-next-link="{{cursor}}" id="load-more" {% if not next_page %}disabled{% endif %} type="button" onClick="collectionUtils.loadMore(false)" class="btn btn-primary small-button">Load More</button>
	<button {% if not next_page %}disabled{% endif %} id="load-all" type="button" onClick="collectionUtils.loadAll()" class="btn btn-primary small-button">Load All<p><small class="center" id="load-all-time"></small></p></button>
	</div>


	<!-- Modals -->
	<div id="completion-modal" class="modal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modals -->
	<div id="delete-product-modal" class="modal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Remove From Collection</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to remove <span id="delete-product-name"></span> from this collection?</p>
	        <p>This change will be scheduled immediately.</p>
	      </div>
	      <div class="modal-footer">
	      	<button id="delete-product-data" onClick="collectionUtils.removeProduct()" type="button" class="btn btn-primary" data-dismiss="modal">Remove</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		const collectionId = '{{collection_id}}';
		const limited = false;
		const error = "{{error | safe}}";
		const collectionInfo = {{ collection_data | safe }};
		const csrfToken = '{{csrf_token() }}';
		const displayOptions = ['title', 'productPrice', 'availability', 'daysCreated', 'totalInventory', 'unavailable', 'productVariants'];
		var loadRemaining = {% if not next_page %}false{% else %}true{% endif %};
	</script>

{% endblock %}

