<!DOCTYPE html>
<html>

<!-- TODO: Check CSRF -->
<!-- TODO: Add undo button (save sort change to array of arrays (till max)) -->
<!-- TODO: Check is works on mobile -->
<head>
	<title>Sort Collections</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div id="full-screen-overlay">
		<div class="loadingio-spinner-rolling-hk0ecpc78o4"><div class="ldio-t1tprsvy82">
		<div></div>
		</div></div>
	</div>

	<div id="manual-error" class="hide alert alert-danger" role="alert">
	  This collection is not sorted manually. <a target="_blank" href="https://{{shop}}/admin/collections/{{collection_id}}">Change the collection sort method</a> to Manual in order to reorder products.
	</div>

	<!-- Display Options -->
	<div class="card display-options">
	    <div class="card-header accordian-title" id="headingOne" data-toggle="collapse" data-target="#displayOptionsCollapse" aria-expanded="true" aria-controls="displayOptionsCollapse">
	      <h5 class="mb-0">
	        <p class="card-title">
	          Display Options
	        </p>
	      </h5>
	    </div>

	    <div id="displayOptionsCollapse" class="collapse" aria-labelledby="displayOptionsCollapse">
	      <div class="card-body">
	      	<div class="btn-group" role="group">
	      	  <button onclick="displayButton('title')" type="button" id="button-title" class="btn btn-secondary">Title</button>
	      	  <button onclick="displayButton('productPrice')" type="button" id="button-productPrice" class="btn btn-secondary">Price</button>
	      	  <button onclick="displayButton('availability')" type="button" id="button-availability" class="btn btn-secondary">Availability</button>
	      	  <button onclick="displayButton('daysCreated')" type="button" id="button-daysCreated" class="btn btn-secondary">Created Date</button>
	      	  <button onclick="displayButton('totalInventory')" type="button" id="button-totalInventory" class="btn btn-secondary">Inventory</button>
	<!-- 	      	  <button onclick="displayButton('variantsStock')" type="button" id="button-variantsStock" class="btn btn-secondary">Variants in Stock</button> -->
	      	</div>
	      	<div class="mt-2">
	      		<label for="productsPerRow">Products per row</label>
	      	    <select class="form-control" id="productsPerRow">
	      			<option value="8.33%">12</option>
	      			<option value="9.09%">11</option>
	      			<option value="10%">10</option>
	      			<option value="11.11%">9</option>
	      			<option value="12.5%">8</option>
	      			<option value="14.28%">7</option>
	      			<option value="16.66%">6</option>
	      			<option value="20%">5</option>
	      			<option value="25%">4</option>
	      			<option value="33.33%">3</option>
	      			<option value="50%">2</option>
	      	    </select>
	      	</div>

	      	<div class="mt-2 custom-control custom-switch">
	      	  <input onchange="displayButton('unavailable')" type="checkbox" class="custom-control-input" id="unavailable">
	      	  <label class="custom-control-label" for="unavailable">Hide products unavailable on Online Store</label>
	      	</div>
      </div>

<!--       <div>
      	Add a highlight by feature
      </div> -->
    </div>
	</div>

	<!-- Auto Sort -->
	<div class="card mt-3 display-options">
	    <div class="card-header accordian-title" id="headingOne" data-toggle="collapse" data-target="#quickSortCollapse" aria-expanded="true" aria-controls="quickSortCollapse">
	      <h5 class="mb-0">
	        <p class="card-title card-title-link">
	          Quick Sort
	        </p>
	      </h5>
	    </div>

	    <div id="quickSortCollapse" class="collapse" aria-labelledby="quickSortCollapse">
	      <div class="card-body">
	      	<div id="sort-all-time" class="alert alert-warning" role="alert">	  
	      	</div>
	        <ul class="list-group">
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Out of Stock</p>
			  	  	<h5 class="card-title">Send all out of stock products to the bottom</h5>
			  	    </div>
			  	    <button onclick="window.sortHelper.inventoryBottom()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Inventory</p>
			  	  	<h5 class="card-title">Send products with inventory <select class="form-control medium-inline-input" id="inventoryCountCompare">
				      <option selected value="<">Below</option>
				      <option value="<=">Below or equal to</option>
				      <option value="==">Exactly</option>
				      <option value=">=">Above or equal to</option>
				      <option value=">">Above</option>
				    </select> <input type="number" class="form-inline small-inline-input form-control" id="inventoryCountInput"> to the <select class="form-control medium-inline-input" id="inventoryCountSelect">
				      <option value="bottom" selected>Bottom</option>
				      <option value="top">Top</option>
				    </select></h5>
			  	  	<h6 class="card-subtitle mb-2 text-muted"></h6>
			  	    </div>
			  	    <button onclick="window.sortHelper.inventoryNum()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	  <li class="list-group-item d-flex justify-content-between align-items-center">
			  	  	<div>
			  	  	<p class="sort-title">Created Date</p>
			  	  	<h5 class="card-title">Send products created <select class="form-control medium-inline-input" id="createdDateCompare">
				      <option value="<">Less than</option>
				      <option value="<=">Less than or exactly</option>
				      <option value="==">Exactly</option>
				      <option value=">=">More than or exactly</option>
				      <option selected value=">">More than</option>
				    </select> <input type="number" min="0" class="form-inline small-inline-input form-control" id="createdDateInput"> day(s) ago to the <select class="form-control medium-inline-input" id="createdDateSelect">
				      <option value="bottom" selected>Bottom</option>
				      <option value="top">Top</option>
				    </select></h5>
			  	  	<h6 class="card-subtitle mb-2 text-muted"></h6>
			  	    </div>
			  	    <button onclick="window.sortHelper.daysSort()" class="btn btn-primary">Sort</button>	
			  	  </li>
			  	</ul>
	      </div>
	    </div>
	</div>


	<div class="form-inline d-none">
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="title">
			<label class="card-display-option form-check-label" for="title">Product Title</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="productPrice">
			<label class="card-display-option form-check-label" for="productPrice">Product Price</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="availability">
			<label class="card-display-option form-check-label" for="availability">Availability</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="daysCreated">
			<label class="card-display-option form-check-label" for="daysCreated">Days Since Created</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="totalInventory">
			<label class="card-display-option form-check-label" for="totalInventory">Total Inventory</label>
		</div>
		<div class="m-2 form-group form-check">
			<input type="checkbox" class="form-check-input" id="variantsStock">
			<label class="card-display-option form-check-label" for="variantsStock">Variants in Stock</label>
		</div>
	</div>

	<div>
	<div class="pt-5 pb-5">
		<div class="container-fluid">
			<div id="sortable">
				<div class="row" id="products__container">
				</div>
			</div>
		</div>
	</div>
	<button data-next-link="{{cursor}}" id="load-more" {% if not next_page %}disabled{% endif %} type="button" onClick="loadMore()" class="btn btn-primary small-button">Load More</button>
	<button {% if not next_page %}disabled{% endif %} id="load-all" type="button" onClick="loadAll()" class="btn btn-primary small-button">Load All<p><small class="center" id="load-all-time"></small></p></button>
	</div>


	<!-- Modals -->
	<div id="completion-modal" class="modal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<style>

		.hide {
			display: none !important;
		}

		#full-screen-overlay.full-screen-overlay--active {
			top: 0;
			width: 100vw;
			height: 100vh;
			position: fixed;
			background: #0000006b;
			left: 0;
			z-index: 1;
		}

		#full-screen-overlay {
			height: 0;
			width: 0;
			overflow: hidden;
		}


		.btn-primary {
			background-color: #3f4eae; 
			border-color: #3f4eae; 
			cursor: pointer; 
		}

		.small-button:disabled,
		.small-button {
			background-color: #3f4eae; 
			border-color: #3f4eae; 
			cursor: pointer; 
			margin: 10px auto; 
			width: 50%; 
			max-width: 400px; 
			display: block;
		}

		.small-button p {
			margin: 0;
		}

		#products__container {
			background-color: #F4F1F1;
			width: 100%;
		}

		.multiple-sortable-selected.sortable-ghost .card,
		.sortable-ghost .card {
			border: dashed 1px green;
			opacity: 0.4 !important;
		}

		.products__card {
			margin: 10px 0;
			padding: 0 10px;
		}

		.products__card .card {
			min-height: 100%;
		}

		.multiple-sortable-selected .card {
			border: 1px solid green;
		}

		.products__card p {
			margin-bottom: 3px;
		}

		.product__price {
			font-size: 0.8em;
			color: grey;
		}

		body {
			margin: 0 auto; 
			padding: 2%; 
			background-color: #F4F6F8;
		}

		.card-display-off {
			opacity: 0.4;
		}

		.small-inline-input {
			display: inline;
			width: 75px;
		}

		.medium-inline-input {
			display: inline;
			width: 175px;
		}

		.accordian-title {
			cursor: pointer;
		}

		.sort-title {
			margin: 0;
			color: #828282;
			font-weight: bold;
		}

		@keyframes ldio-t1tprsvy82 {
		  0% { transform: translate(-50%,-50%) rotate(0deg); }
		  100% { transform: translate(-50%,-50%) rotate(360deg); }
		}

		.full-screen-overlay--active .loadingio-spinner-rolling-hk0ecpc78o4 {
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.ldio-t1tprsvy82 div {
		  position: absolute;
		  width: 86px;
		  height: 86px;
		  border: 6px solid white;
		  border-top-color: transparent;
		  border-radius: 50%;
		}
		.ldio-t1tprsvy82 div {
		  animation: ldio-t1tprsvy82 0.8s linear infinite;
		  top: 100px;
		  left: 100px
		}
		.loadingio-spinner-rolling-hk0ecpc78o4 {
		  width: 200px;
		  height: 200px;
		  display: inline-block;
		  overflow: hidden;
		  background: none;
		}
		.ldio-t1tprsvy82 {
		  width: 100%;
		  height: 100%;
		  position: relative;
		  transform: translateZ(0) scale(1);
		  backface-visibility: hidden;
		  transform-origin: 0 0; /* see note above */
		}
		.ldio-t1tprsvy82 div { box-sizing: content-box; }

	</style>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- App SDK -->
	<script script src="https://unpkg.com/@shopify/app-bridge"></script>
	<!-- SortableJS -->
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script type="text/javascript" src="https://collection-merchandiser.s3.us-east-1.amazonaws.com/multiplesorting.js"></script>



	<script>
		// App Bridge
		var AppBridge = window['app-bridge'];
	    var createApp = AppBridge.default;
	    var app = createApp({
	      apiKey: '06508637004c80c9f5f731440fb36242',
	      shopOrigin: '{{shop}}',
	    });

	    var AppBridge = window['app-bridge'];
	    var actions = AppBridge.actions;
	    var ResourcePicker = actions.ResourcePicker;
	    var Button = actions.Button;
	    var ButtonGroup = actions.ButtonGroup;
	    var TitleBar = actions.TitleBar;
	    var Redirect = actions.Redirect;
	    var Loading = actions.Loading;

	    // Init redirect
	    const redirect = Redirect.create(app);
	    // Init loading
	    const loading = Loading.create(app);

	    // Save button
	    const save = Button.create(app, {label: 'Save'});
	    save.set({disabled: true});
	    const saveCollection = save.subscribe(Button.Action.CLICK, data => {
	    	save.set({disabled: true});
	    	let allProductCards = document.querySelectorAll('.products__card');
	    	let positionChanges = [];
	    	let last = false;
	    	allProductCards.forEach(function(e, i) {
	    	    let defaultPosition = e.getAttribute('data-positon');
	    	    let productId = e.getAttribute('data-product-id');
	    	    if(i != defaultPosition && productId) {
	    	    	positionChanges.push({
	    	    		'newPosition': i.toString(),
	    	    		'id': productId
	    	    	})
	    	    };
	    	})

	    	if(positionChanges != [] && positionChanges) {
	    		// https://stackoverflow.com/questions/8495687/split-array-into-chunks
	    		// Split changes into chunks of 150
	    		var i,j,temparray,chunk = 180;
	    		for (i=0, j=positionChanges.length; i<j; i+=chunk) {
	    		    temparray = positionChanges.slice(i,i+chunk);
	    		    last = !(i+chunk < j);
	    		    submitChanges(temparray, last, positionChanges.length)
	    		}
	    	} else {
	    		// TODO: No changes made error
	    	}
	    });

	    function submitChanges(positionChanges, last, totalChanges) {
	    	$.ajax({
	    	  url: 'https://shopify-stock-app.herokuapp.com/collection-new-save',
	    	  type: 'GET',
	    	  data: { 
	    	  	'changes' : JSON.stringify(positionChanges),
	    	    'csrfmiddlewaretoken': '{{csrf_token() }}',
	    	    'collectionId': '{{collection_id}}',
	    	   },
	    	})
	    	.done(function(res) {
	    		// TODO: If certain size, say it's been scheduled and to come back
	    		try {
	    			if(res['data']['error']) {
	    				console.log(res['data']['error'])
	    				showMessage('Error', 'Unexpected error. Some or all of the sorting has not been completed successfully. Please try again or contact support if this issue persists');
	    			} else {
	    				if(last) {
	    					showMessage('Successfully Scheduled', `Your changes have been successfully scheduled, they will be live within a few minutes.`);
	    				}
	    			}
	    		} catch {
	    			showMessage('Error', 'Unexpected error. Some or all of the sorting has not been completed successfully. Please try again or contact support if this issue persists');
	    		}
	    	  console.log(res);
	    	})
	    	.fail(function(err) {
	    		showMessage('Error', 'Unexpected error. Some or all of the sorting has not been completed successfully. Please try again or contact support if this issue persists');
	    	  console.log('Error: ' + err.status);
	    	});
	    }

	    // Secondary buttons
	    const homeButton = Button.create(app, {label: 'Home'});
	    const contactButton = Button.create(app, {label: 'Contact'});
	    const instructionsButton = Button.create(app, {label: 'Instructions'});
	    const privacyButton = Button.create(app, {label: 'Privacy Policy'});
	    const automationsButton = Button.create(app, {label: 'Automations'});

	    const groupButton = ButtonGroup.create(app, {label: 'Navigation', buttons: [homeButton, contactButton,automationsButton, instructionsButton, privacyButton]});
	    // Secondary buttons actions
	    const viewContact = contactButton.subscribe(Button.Action.CLICK, data => {
	      redirect.dispatch(Redirect.Action.APP, '/contact');
	    });
	    const homeContact = homeButton.subscribe(Button.Action.CLICK, data => {
	      redirect.dispatch(Redirect.Action.APP, '/home/{{shop | replace(".myshopify.com", "")}}');
	    });
	    const viewInstructions = instructionsButton.subscribe(Button.Action.CLICK, data => {
	      redirect.dispatch(Redirect.Action.APP, '/instructions');
	    });
	    const viewPrivacy = privacyButton.subscribe(Button.Action.CLICK, data => {
	      redirect.dispatch(Redirect.Action.APP, '/privacy-policy');
	    });
	    const viewAutomations = automationsButton.subscribe(Button.Action.CLICK, data => {
	      redirect.dispatch(Redirect.Action.APP, '/automations');
	    });

	    const titleBarOptions = {
	      title: 'Collection',
	      buttons: {
	        primary: save,
	        secondary: [groupButton]
	      },
	    };
	    const myTitleBar = TitleBar.create(app, titleBarOptions);

	    const displayOptions = ['title', 'productPrice', 'availability', 'daysCreated', 'totalInventory', 'unavailable'];
	    let loadRemaining = {% if not next_page %}false{% else %}true{% endif %};

		class Product {
		  constructor(product) {
		  	this.title = product.title;
		  	// TODO: Add placeholder image
		  	this.featuredImage = product.featuredImage ? product.featuredImage.transformedSrc : '';
		  	this.totalInventory = product.totalInventory;
		  	this.tracksInventory = product.tracksInventory;
		  	// this.variants = product.variants ? product.variants.edges : null;
		  	this.minPrice = product.priceRange.minVariantPrice.amount;
		  	this.currency = product.priceRange.minVariantPrice.currencyCode;
		  	this.storeUrl = product.onlineStoreUrl;
		  	this.createdDate = product.createdAt;
		  	this.id = product.id;
		  }

		  get element() {
		  	return this.createElement();
		  }

		  createHeader() {
		  	let productNum = document.querySelectorAll('.products__card').length;
		  	let cardImage = this.featuredImage ? `<img src="${this.featuredImage}" class="card-img-top">` : '';
		  	let cardHeader;
		  	let cardTop = `
			  				<div data-product-id="${this.id}" data-positon="${productNum}" class="products__card ${this.storeUrl ? '' : 'products__unavailable'}" style="width: ${window['rows'] || '20%'};">
			  					<div class="card">`;

			return cardTop + cardImage;
		  }

		  createTitle() {
		  	let cardBody = '<div class="card-body">'
		  	let cardTitle = this.title ? `<p class="products__title">${this.title}</p>` : `<p class="products__title">Title Not Found</p>`;
		  	let price = this.currency && this.minPrice ? formatPrice(this.currency, this.minPrice / 100) : null;
		  	let cardPrice = price ? `<p class="products__productPrice">${price}</p>` : ''
		  	return cardBody + cardTitle + cardPrice
		  }

		  createStandardInfo() {
		  	let cardDate = '';
		  	let cardAvailable = `<p class="products__availability"><i class="fa ${this.storeUrl ? 'fa-check' : 'fa-times'}" aria-hidden="true"></i> <span data-toggle="tooltip" data-placement="top" title="Available to purchase through the online store sales channel">${this.storeUrl != null ? 'Available' : 'Unavailable'}</span></p>`;
		  	if(this.createdDate) {
		  		let daysDiff = daysBetween(this.createdDate, Date.now());
		  		cardDate = daysDiff ? `<p class="products__daysCreated" data-days="${daysDiff}"><i class="fa fa-calendar" aria-hidden="true"></i> <span data-toggle="tooltip" data-placement="top" title="Days since product was created">${daysDiff.toFixed(0)} days</span></p>` : '';
		  	}
	  		let cardInventory = this.totalInventory != null ? `<p class="products__totalInventory" data-inventory="${this.tracksInventory ? this.totalInventory : 'unset'}"><i class="fa fa-barcode" aria-hidden="true"></i> <span data-toggle="tooltip" data-placement="top" title="Number left in stock at all locations (if inventory is tracked)">${this.tracksInventory ? this.totalInventory : 'Not tracked'}</span></p>` : '';

		  

		  	return cardAvailable + cardDate + cardInventory;
		  }

		  // createVariantsStock() {
		  // 	// TODO: Add check for inventoryPolicy (can continue to sell if oos) and add to element
		  // 	let cardPercent = '';
		  // 	if(this.variants) {
		  // 		let availableCount = 0;
		  // 		for(let variant of this.variants) {
		  // 			if(variant.node.availableForSale) {
		  // 				availableCount++
		  // 			}
		  // 		}
		  // 		let percent = (availableCount / this.variants.length * 100).toFixed(0);
		  // 		cardPercent = `<p class="products__variantsStock" data-variants="${percent}"><i class="fa fa-percent" aria-hidden="true"></i> <span data-toggle="tooltip" data-placement="top" title="Percent of variants available to buy">${percent}%</span></p>`
		  // 	}
		  // 	return cardPercent;
		  // }

		  createElement() {
		  	let card = '';
		  	let cardHeader = this.createHeader();
		  	let cardTitle = this.createTitle();
		  	let cardStandardInfo = this.createStandardInfo();
		  	// let cardVariants = this.createVariantsStock();
		  	let cardFooter = `</div>
		  					</div>
						</div>
					</div>`
			let cardElements = [cardHeader, cardTitle, cardStandardInfo, cardFooter];
			for(let element of cardElements) {
				if(element) {
					card = card + element;
				};
			};

		  	return card;
		  }
		}

		class ProductSlim {
		  constructor(product) {
		  	this.title = product.title;
		  	// TODO: Add placeholder image
		  	this.featuredImage = product.featuredImage ? product.featuredImage.transformedSrc : '';
		  	this.id = product.id;
		  }

		  get element() {
		  	return this.createElement();
		  }

		  createHeader() {
		  	let productNum = document.querySelectorAll('.products__card').length;
		  	let cardImage = this.featuredImage ? `<img src="${this.featuredImage}" class="card-img-top">` : '';
		  	let cardHeader;
		  	let cardTop = `
			  				<div data-product-id="${this.id}" data-positon="${productNum}" class="products__card" style="width: ${window['rows'] || '20%'};">
			  					<div class="card">`;

			return cardTop + cardImage;
		  }

		  createTitle() {
		  	let cardBody = '<div class="card-body">'
		  	let cardTitle = this.title ? `<p class="products__title">${this.title}</p>` : `<p class="products__title">Title Not Found</p>`;
		  	return cardBody + cardTitle
		  }

		  createElement() {
		  	let card = '';
		  	let cardHeader = this.createHeader();
		  	let cardTitle = this.createTitle();
		  	let cardFooter = `</div>
		  					</div>
						</div>
					</div>`
			let cardElements = [cardHeader, cardTitle, cardFooter];
			for(let element of cardElements) {
				if(element) {
					card = card + element;
				};
			};

		  	return card;
		  }
		}

		function initLoading(direction) {
			if(direction == 'start') {
				loading.dispatch(Loading.Action.START);
				document.getElementById('full-screen-overlay').classList.add('full-screen-overlay--active');
			} else {
				loading.dispatch(Loading.Action.STOP);
				document.getElementById('full-screen-overlay').classList.remove('full-screen-overlay--active');
			}
		}

		class sortHelper {

			inventoryBottom() {
				if(loadRemaining) {
					loadAll(this.inventoryBottomSort);
				} else {
					this.inventoryBottomSort();
				}
			}

			inventoryBottomSort() {
				let sortOrderChanged = false;
				let currentOrder = sortable.toArray();
				let begArray = [];
				let endArray = [];

				currentOrder.forEach(function(e, i) {
					let inventoryElement = document.querySelector('[data-product-id="' + e + '"] .products__totalInventory');
					if(inventoryElement) {
						let totalInventory = inventoryElement.getAttribute('data-inventory');
						if(totalInventory != 'unset') {
							if(totalInventory < 1) {
								sortOrderChanged = true;
								endArray.push(e);
							} else {
								begArray.push(e);
							}
						} else {
							begArray.push(e);
						}
					}
				});
				if(sortOrderChanged) {
					save.set({disabled: false});
				}
				sortable.sort(begArray.concat(endArray));
				initLoading('stop')
				// TODO: Add completed message
			}

			inventoryNumSort() {
				let inventoryCountCompare = document.querySelector('#inventoryCountCompare').value;
				let inventoryCountSelect = document.querySelector('#inventoryCountSelect').value;
				let inventoryCountInput = document.querySelector('#inventoryCountInput').value;
				let currentOrder = window.sortable.toArray().slice(0);
				let begArray = [];
				let endArray = [];
				let inventoryElement;
				// Loop from bottom if adding products to start (so it remains in order)
				let sortOrderChanged = false;

				currentOrder.map((e, i) => {
					let inventoryElement = document.querySelector('[data-product-id="' + e + '"] .products__totalInventory');
					if(inventoryElement) {
						let totalInventory = inventoryElement.getAttribute('data-inventory');
						// Build comparison formula
						let inventoryComparison = `${totalInventory}${inventoryCountCompare}${inventoryCountInput}`
						if(totalInventory != 'unset') {
							// Check if comaparison is true
							if(eval(inventoryComparison)) {
								sortOrderChanged = true;
								endArray.push(e);
							} else {
								begArray.push(e);
							}
						} else {
							begArray.push(e);
						}
					}
				});
				if(sortOrderChanged) {
					save.set({disabled: false});
				}
				let fullArray = inventoryCountSelect == 'bottom' ? begArray.concat(endArray) : endArray.concat(begArray)
				window.sortable.sort(fullArray);
				initLoading('stop');
				// TODO: Add completed message
			}

			inventoryNum() {
					if(loadRemaining) {
						loadAll(this.inventoryNumSort);
					} else {
						this.inventoryNumSort();
					}
				}

			daysSortWork() {
				let createdDateCompare = document.querySelector('#createdDateCompare').value;
				let createdDateSelect = document.querySelector('#createdDateSelect').value;
				let createdDateInput = document.querySelector('#createdDateInput').value;
				let currentOrder = window.sortable.toArray().slice(0);
				let begArray = [];
				let endArray = [];
				let inventoryElement;
				// Loop from bottom if adding products to start (so it remains in order)
				let sortOrderChanged = false;

				currentOrder.map((e, i) => {
					let daysElement = document.querySelector('[data-product-id="' + e + '"] .products__daysCreated');
					if(daysElement) {
						let totalDays = daysElement.getAttribute('data-days');
						// Build comparison formula
						let daysComparison = `${totalDays}${createdDateCompare}${createdDateInput}`
							// Check if comaparison is true
						if(eval(daysComparison)) {
							sortOrderChanged = true;
							endArray.push(e);
						} else {
							begArray.push(e);
						}
					} else {
						begArray.push(e);
					}
				});
				if(sortOrderChanged) {
					save.set({disabled: false});
				}
				let fullArray = createdDateSelect == 'bottom' ? begArray.concat(endArray) : endArray.concat(begArray)
				window.sortable.sort(fullArray);
				initLoading('stop')
				// TODO: Add completed message
			}

			daysSort() {
				if(loadRemaining) {
					loadAll(this.daysSortWork);
				} else {
					this.daysSortWork();
				}
			}


			// variantSort() {
			// 	if(loadRemaining) {
			// 		loadAll(this.variantSortWork);
			// 	} else {
			// 		this.variantSortWork();
			// 	}
			// }

			// variantSortWork() {
			// 	let variantCountCompare = document.querySelector('#variantCountCompare').value;
			// 	let variantCountSelect = document.querySelector('#variantCountSelect').value;
			// 	let variantCountInput = document.querySelector('#variantCountInput').value;
			// 	let currentOrder = window.sortable.toArray().slice(0);
			// 	let begArray = [];
			// 	let endArray = [];
			// 	let variantElement;
			// 	let sortOrderChanged = false;

			// 	currentOrder.map((e, i) => {
			// 		let variantElement = document.querySelector('[data-product-id="' + e + '"] .products__variantsStock');
			// 		if(variantElement) {
			// 			let variantNum = variantElement.getAttribute('data-variants');
			// 			// Build comparison formula
			// 			let variantComparison = `${variantNum}${variantCountCompare}${variantCountInput}`
			// 				// Check if comaparison is true
			// 			if(eval(variantComparison)) {
			// 				sortOrderChanged = true;
			// 				endArray.push(e);
			// 			} else {
			// 				begArray.push(e);
			// 			}
			// 		} else {
			// 			begArray.push(e);
			// 		}
			// 	});
			// 	if(sortOrderChanged) {
			// 		save.set({disabled: false});
			// 	}
			// 	let fullArray = variantCountSelect == 'bottom' ? begArray.concat(endArray) : endArray.concat(begArray)
			// 	window.sortable.sort(fullArray);
			// 	loading.dispatch(Loading.Action.STOP);
			// 	// TODO: Add completed message
			// }

			selected() {
				if(loadRemaining) {
					loadAll(this.selectedSortWork);
				} else {
					this.selectedSortWork();
				}
			}

			selectedSort() {
				let selectedCountSelect = document.querySelector('#selectedCountSelect').value;
				let currentOrder = window.sortable.toArray().slice(0);
				let begArray = [];
				let endArray = [];
				let sortOrderChanged = false;

				currentOrder.map((e, i) => {
					let variantElement = document.querySelector('[data-product-id="' + e + '"]');
					if(variantElement) {
						if(variantElement.classList.contains('multiple-sortable-selected')) {
							sortOrderChanged = true;
							endArray.push(e);
						} else {
							begArray.push(e);
						}
					} else {
						begArray.push(e);
					}
				});
				if(sortOrderChanged) {
					save.set({disabled: false});
				}
				let fullArray = selectedCountSelect == 'bottom' ? begArray.concat(endArray) : endArray.concat(begArray)
				window.sortable.sort(fullArray);
				initLoading('stop')
				// TODO: Add completed message
			}
		}

		function formatPrice(currencyCode, amount) {
			let userLanguage = navigator.language ? navigator.language : 'en-US';
			const formatter = new Intl.NumberFormat('en-US', {
			  style: 'currency',
			  currency: currencyCode,
			  minimumFractionDigits: 2
			});
			return formatter.format(amount);
		}

		// https://stackoverflow.com/questions/6497552/number-of-days-between-two-dates-in-iso8601-date-format
		function daysBetween(date1String, date2String) {
		  var d1 = new Date(date1String);
		  var d2 = new Date(date2String);
		  var daysDiff = (d2-d1)/(1000*3600*24);
		  daysDiff = daysDiff <= 0 ? 0 : daysDiff;
		  return daysDiff;
		}

		function setCookie(name,value,days) {
		    var expires = "";
		    if (days) {
		        var date = new Date();
		        date.setTime(date.getTime() + (days*24*60*60*1000));
		        expires = "; expires=" + date.toUTCString();
		    }
		    document.cookie = name + "=" + (value || "")  + expires + "; cross-site-cookie=bar; SameSite=None; Secure";
		}

		function getCookie(name) {
		    var nameEQ = name + "=";
		    var ca = document.cookie.split(';');
		    for(var i=0;i < ca.length;i++) {
		        var c = ca[i];
		        while (c.charAt(0)==' ') c = c.substring(1,c.length);
		        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		    }
		    return null;
		}

		function showMessage(title, message) {
			document.querySelector('#completion-modal .modal-title').innerHTML = title;
			document.querySelector('#completion-modal .modal-body').innerHTML = `<p>${message}</p>`;
			$('#completion-modal').modal()
		}


		function initElements() {
			if("{{error | safe}}") {
				showMessage('Error', 'Unexpected error. Please try again');
			} else {
				let collectionInfo = {{ collection_data | safe }};
				let productsTime;
				let products; 
				productsToAdd = {};

				try {
					// Manual error
					if(collectionInfo['data']['collection']['sortOrder'] != 'MANUAL') {
						document.querySelector('#manual-error').classList.remove('hide');
						// document.querySelectorAll('.display-options').forEach(function(e) { e.classList.add('hide') });
						// document.querySelectorAll('.btn').forEach(function(e) { e.classList.add('hide') });
					}

					products = collectionInfo.data.collection.products.edges;
					let productsCount = collectionInfo.data.collection.productsCount;
					if(productsCount > 50) {
						let estimatedTime = productsCount / 50 * 3;
						document.querySelector('#load-all-time').innerHTML = estimatedTime > 2 ? `Estimated load time: ${estimatedTime.toFixed(0)} secs` : '';
						if(estimatedTime > 2) {
							document.querySelector('#sort-all-time').innerHTML = `Quick Sort will reorder the products below based on your selection. With the size of this collection, sorting may take up to ${(estimatedTime * 1.5).toFixed(0)} secs to complete. Don't forget to Save when you're happy with your changes.`
						} else {
							document.querySelector('#sort-all-time')[0].remove();
						}
					}
				} catch(e) {
					throw e;
					showMessage('Error', 'Unexpected error. Please try again');
				}
				try {
					for(let product of products) {
						try {
							productsToAdd[product.node.id] = new Product(product.node);
						} catch(e) {
							throw e;
							showMessage('Error', 'Unexpected error. Please try again');
						}
					}

					window.sortHelper = new sortHelper();
					createCards(productsToAdd);
					document.querySelector('#productsPerRow').addEventListener('change', function(e) {
						updateRowsInfo(e.target.value);
						setCookie('rows', (e.target.value).replace('%', ''), 200);
					});
					updateRowsInfo();
					initSortable();
					initDisplayInfo();
				} catch(e) {
					console.log('Error', e);
					showMessage('Error', 'Unexpected error. Please try again');
				}
			}
		}

		function updateRowsInfo(width=false) {
			if(!width) {
				width = getCookie('rows') ? getCookie('rows') + '%' : width;
			}
			width = !width ? '20%' : width;
			window['rows'] = !width ? '20%' : width;
			document.querySelector('#productsPerRow').value = width;
			let productCards = document.querySelectorAll('.products__card');
			for(let card of productCards) {
				card.style.width = width;
			}
		}


		function initDisplayInfo() {
			for(let option of displayOptions) {
				let tempCookie = getCookie(option);
				console.log(tempCookie, option)
				window[option] = !tempCookie ? 'false' : tempCookie;
				if(!tempCookie) {
					setCookie(option, 'false', 300);
					console.log(getCookie(option), '*****')
				}
				let tempOptionSelector = document.querySelector('#' + option);
				if(tempCookie == 'true') {
					tempOptionSelector.setAttribute('checked', true);
				}
			}
			updateDisplayInfo(displayOptions);
		}

		function displayButton(option) {
			let tempOptionSelector = document.querySelector('#' + option);
			if(window[option] == 'true') {
				window[option] = 'false';
				if(tempOptionSelector) {
					tempOptionSelector.removeAttribute('checked');
				}
			} else {
				window[option] = 'true';
				if(tempOptionSelector) {
					tempOptionSelector.setAttribute('checked', window[option]);
				}
			}
			setCookie(option, window[option], 200);
			updateDisplayInfo([option]);
		}

		function updateDisplayInfo(updatingDisplayOptions) {
			for(let option of updatingDisplayOptions) {
				let tempValue = window[option] ? window[option] : getCookie(option);
				let tempButtonSelector = document.querySelector('#button-' + option);
				if(tempButtonSelector) {
					if(tempValue == 'true') {
						tempButtonSelector.classList.add('card-display-off');
					} else {
						tempButtonSelector.classList.remove('card-display-off');
					}
				}
				let tempElements = document.querySelectorAll('.products__' + option);
				for(let element of tempElements) {
					if(tempValue == 'true') {
						element.classList.add('d-none');
					} else {
						element.classList.remove('d-none');
					}
				}
			}
		}

		function addCards(callback=null) {
			// let products; 
			let productsToAdd = {};
			let interations = window.responses.length;
			// let collectionInfo;
			// if(response['data']['error']) {
			// 	// TODO: Error
			// } else {
			// 	collectionInfo = JSON.parse(response['data']['js_collection_data']);
			// }
			for(let response of window.responses) {
				// console.log(products)
				for(let product of response) {
					try {
						let tempProductObj = new Product(product.node);
						console.log(tempProductObj);
						productsToAdd[product.node.id] = tempProductObj;
					} catch(e) {
						console.log('Error', e)
						throw e;
						showMessage('Error', 'Unexpected error. Please try again');
					}
				}
				interations--
				if(interations == 0) {
					createCards(productsToAdd, callback);	
					window.responses = []
				}
			}
			// if(response['data']['next_page']) {
			// 	loadRemaining = true;
			// 	document.querySelector('#load-more').setAttribute('data-next-link', response['data']['cursor']);
			// 	if(rerun) {
			// 		loadMore(rerun, callback);
			// 	} else {
			// 		document.querySelector('#load-more').removeAttribute('disabled');
			// 		document.querySelector('#load-all').removeAttribute('disabled');
			// 		updateDisplayInfo(displayOptions);
			// 	};
			// } else {
			// 	loadRemaining = false;
			// 	// TODO: Add to reset function
			// 	if(!callback) { loading.dispatch(Loading.Action.STOP); }
			// 	document.querySelector('#load-all-time').innerHTML = '';
			// 	document.querySelector('#sort-all-time').innerHTML = '';
			// 	window.sortable.option('disabled', false);
			// 	document.querySelector('#load-more').setAttribute('disabled', true);
			// 	document.querySelector('#load-all').setAttribute('disabled', true);
			// 	updateDisplayInfo(displayOptions);
			// 	initSortable(callback);
			// }	
		}

		async function initSortable(callback=null) {
			console.log('initting sortable')
			var el = document.getElementById('products__container');
			window.sortable = await new Sortable.create(el, {
				easing: "cubic-bezier(1, 0, 0, 1)",
				multiDrag: true,
				dataIdAttr: 'data-product-id',
				selectedClass: 'multiple-sortable-selected', 
				onEnd: function(evt) {
					updateRowsInfo(window['rows']);
					save.set({disabled: false});
				},
			});
			if(callback) { callback(); }
		}

		function disableLoadMore() {
			try { 
				initLoading('start');
				window.sortable.option('disabled', false); 
				document.querySelector('#load-more').setAttribute('disabled', true);
				document.querySelector('#load-all').setAttribute('disabled', true);
				document.querySelector('#load-all-time').innerHTML = '';
				document.getElementById('sort-all-time').classList.add('hide')
			} catch(e) {
				console.log(e);
			}
			initLoading('stop');
		}

		function createCards(elements, callback=null) {
			let productsToAdd = '';
			let counter = 0;
			for(let product of Object.values(elements)) {
				productsToAdd += product.element;
				counter++
			}
			document.querySelector('#products__container').innerHTML += productsToAdd;

			if(!callback) { initLoading('stop'); }
			// If not init call
			updateDisplayInfo(displayOptions);
			initSortable(callback);

			// // TODO: Add then...

		 //  // Enable popovers
		  $(function () {
		    $('[data-toggle="tooltip"]').tooltip()
		  })
		}

		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})

		function loadAll(callback=null) {
			// TODO: Add loading, please wait message
			loadRemaining = false;
			window.sortable.option("disabled", true);

			initLoading('start');
			loadMore(true, callback);
		}

		function loadMore(rerun=false, callback=null, cursor=null) {
			window.responses = window.responses || [];
			save.set({disabled: true})
			document.querySelector('#load-more').setAttribute('disabled', true);
			document.querySelector('#load-all').setAttribute('disabled', true);

			cursor = cursor || document.querySelector('#load-more').getAttribute('data-next-link');
			if(cursor) {
				$.ajax({
				  url: 'https://shopify-stock-app.herokuapp.com/collection-new-load',
				  type: 'GET',
				  data: { 
				  	'cursor' : cursor,
				    'csrfmiddlewaretoken': '{{csrf_token() }}',
				    'collectionId': '{{collection_id}}'
				   },
				})
				.done(function(res) {
					products = JSON.parse(res['data']['js_collection_data'])
					console.log(products)
					window.responses.push(products);
					if(res['data']['error']) {
						// TODO: Error
					} else {
						if(res['data']['next_page'] && rerun) {
								disableLoadMore();
								loadMore(true, callback, res['data']['cursor']);
								document.querySelector('#load-more').setAttribute('data-next-link', res['data']['cursor']);
						} else {
							if(res['data']['next_page']) { 
								console.log('hi')
								document.querySelector('#load-more').setAttribute('data-next-link', res['data']['cursor']); 
								document.querySelector('#load-more').removeAttribute('disabled');
								document.querySelector('#load-all').removeAttribute('disabled');
							} else {
								loadRemaining = false;
							}
							addCards(callback);
						}

					}
				})
				.fail(function(err) {
				  console.log('Error: ' + err);
				});
			} else {
				// TODO: Error
			}
		} 

		// TODO: Add variations for products that allow sell while out of stock (inventoryPolicy on variants)


		initElements();
		

		// Send to bottom button
		// If next, 
			// Add loading collection notification
			// loop ajax collection until no more next
		// Send to bottom

		// On form submit
		// On submit, loop every element, if position different to data-position, submit with new position
	</script>

</body>
</html>


