{% extends 'layout.html' %}
{% block content %}
  <h1>Contact</h1>
  <div class="card">
    <div class="card-header">
      Get in Touch
    </div>

    {% if mail_sent == 'unsuccessful' %}
      <div style="margin: 10px;" class="alert alert-danger" role="alert">
        <span>Message was not sent successfully. Please contact help@matthewdenoronha.com.</span>
      </div>
    {% elif mail_sent == 'successful' %}
      <div style="margin: 10px;" class="alert alert-success" role="alert">
        <span>Message was sent successfully. We'll be in touch within 24 working hours.</span>
      </div>
    {% endif %}

    <div class="card-body">
      <p class="card-text">Have a feature request, found a bug, just want to say hello. Get in touch using the form below or via email at help@matthewdenoronha.com</p>
      <!-- <form method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input required name="nameFormInput" type="text" class="form-control" id="nameFormInput" placeholder="John Doe">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input required type="email" class="form-control" id="emailFormInput" name="emailFormInput" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea required class="form-control" id="messageFormInput" name="messageFormInput" placeholder="The feature I'd like to see is..." rows="3"></textarea>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
    </div>
  </div>

 
{% endblock %}

