{% extends "layout.html" %}

{% block content %}
  <h1>Collection Merchandiser</h1>
  <p>Save yourself from lost sales with the Collection Merchandiser. Promote the right producrts with ease.</p>

  <div id="instructions-alert" class="alert alert-warning alert-instructions" role="alert">
    <span id="instructions-alert-close">X</span>
    First time here? Go to <span id="instructions-alert-redirect">Instructions</span> for help on getting started.
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img id="collection-image" data-placeholder="{{url_for('static', filename='imgs/placeholder.png')}}" src="{{url_for('static', filename='imgs/placeholder.png')}}" class="card-img" alt="Select a collection">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 id="collection-name" class="card-title">Choose a Collection</h5>
          <div id="manual-update" class="alert alert-danger" role="alert">
            This collection is not sorted manually. <a id="collection-admin-link" href="" target="_blank" >Change the sort order to manual</a> in order to make changes.
          </div>
          <p id="collection-description" class="card-text"></p>
          <p class="collection-link btn disabled btn-primary" style="display: none;" data-collection="">Standard Sort</p>
          <p class="collection-link-info center hide"><small>A host of features for lightning fast sorting.</small></p>
          <p class="collection-link btn disabled btn-primary collection-link-variant" style="display: none;" data-collection="">Standard Sort (with Variant Inventory)</p>
          <p class="collection-link-info center hide"><small>Add variant information but reduced sorting speed.</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
