<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Install</title>

    <!-- App SDK -->
    <script src="https://unpkg.com/@shopify/app-bridge"></script>

    <script type="text/javascript">

    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.createApp;
    var actions = AppBridge.actions;
    var Redirect = actions.Redirect;
    var shopOrigin = '{{shop}}'

    const apiKey = '06508637004c80c9f5f731440fb36242';
    const redirectUri = 'https://shopify-stock-app.herokuapp.com/connect';
    const permissionUrl = '/oauth/authorize?state={{nonce}}&client_id=' + apiKey + '&scope=read_products,write_products,read_inventory,write_inventory&redirect_uri=' + redirectUri;

    // If the current window is the 'parent', change the URL by setting location.href
    if (window.top == window.self) {
      window.location.assign('https://' + shopOrigin + '/admin' + permissionUrl);

    // If the current window is the 'child', change the parent's URL with Shopify App Bridge's Redirect action
    } else {
      const app = createApp({
        apiKey: apiKey,
        shopOrigin: shopOrigin,
      });

      Redirect.create(app).dispatch(Redirect.Action.ADMIN_PATH, permissionUrl);
    }

    </script>
  </head>
  <body>
  </body>
</html>