{% extends "layout.html" %}
{% block content %}
  <h1>Instructions</h1>
  <p>The Collection Merchandiser app helps you identify low and out of stock products to help better merchande your collections. Getting started is easy.</p>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='imgs/instruct1-min.png')}}" class="card-img" alt="Select a collection">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Select a Collection</h5>
          <p class="card-text">Search for the collection you wish to sort by title.</p>
          <p class="card-text">Note: you will only be able to sort products on collections that are sorted manually. Update the sort method if you you need to make that change.</p>
          <p class="card-text">Select Sort for quick sorting, select Sort (with Variants) for slower sorting with variants.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='imgs/instruct4.png')}}" class="card-img" alt="Select your options">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Select your Options</h5>
          <p class="card-text">Use the 'Rows' selector to choose how many products per row you'd like to view in the app. Use the display checkboxes to show or hide product information.</p>
          <p class="card-text">Use the remaining options to show and hide product information you'd like to see. The 'Availability' option refers to whether the product is visible on the online store</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='imgs/instruct5.png')}}" class="card-img" alt="Select a collection">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sort Products</h5>
          <p class="card-text">Sort products by dragging and dropping them in a preferred order. You can select multiple product by clicking on the required products and dragging them to the preferred place.</p>
          <p class="card-text">Once completed, just click 'Save' and you're done.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{url_for('static', filename='imgs/instruct6.png')}}" class="card-img" alt="Select a collection">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Quick Sort</h5>
          <p class="card-text">Use the quick sort feature to sort the products based on particularly criteria (e.g. stock levels, recency). For large collections, allow a few seconds for all products to be loaded and sorted</p>
          <p class="card-text">Once it's done, don't forget to hit Save to complete your changes.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}