<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection Merchandiser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="margin: 0 auto; padding:10%; background-color: #F4F6F8;">
    <h1>Instructions</h1>
    <p>The Collection Merchandiser app helps you identify low and out of stock products to help better merchande your collections. Getting started is easy.</p>

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{url_for('static', filename='imgs/instruct1-min.png')}}" class="card-img" alt="Select a collection">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Select a Collection</h5>
            <p class="card-text">Click the 'Collections' button to select a collection to manage.</p>
            <p class="card-text">Note: you will only be able to sort products on collections that are sorted manually. A warning message will let you know about this.</p>
            <p class="card-text">After choosing a collection select 'Merchandise Collection'.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{url_for('static', filename='imgs/instruct4.png')}}" class="card-img" alt="Select your options">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Select your Options</h5>
            <p class="card-text">Use the 'Rows' selector to choose how many products per row you'd like to view in the app. Use the display checkboxes to show or hide product information.</p>
            <p class="card-text">Use the remaining options to show and hide product information you'd like to see. The 'Availability' option refers to whether the product is visible on the online store</p>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="card bg-light mb-3">
      <div class="card-header">Understand your Stock Levels</div>
      <div class="card-body">
        <h5 class="card-title">Color Guide</h5>
        <div>
          <p>Color stock levels relate to the percentage of variants left in stock. If you have five sizes of a product and only one is in stock, the product card will be highlighted dark red.</p>
          <p style="display: inline-block;">High Stock</p><p style="display: inline-block; text-align: right; float: right;">Low Stock</p>
          <div style="width: 100%; height: 50px; background: -moz-linear-gradient(left, #ffffff 0%, #a30000 100%); background: -webkit-linear-gradient(left, #ffffff 0%,#a30000 100%); background: linear-gradient(to right, #ffffff 0%,#a30000 100%); border: 1px solid black;"></div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Non-standard Inventory</h5>
        <span class="show_no_inventory__output wrapped-badge badge badge-secondary" data-toggle="popover" data-trigger="hover" data-placement="top">Non-Standard Inventory</span>
        <p class="card-text">Some products may be marked with this 'Non-Standard Inventory' badge. This means that one or all variants of this product don't track inventory. For this reason stock information is not shown on the product card.</p>
      </div>
    </div> -->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{url_for('static', filename='imgs/instruct5.png')}}" class="card-img" alt="Select a collection">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sort Products</h5>
            <p class="card-text">Sort products by dragging and dropping them in a preferred order. You can select multiple product by clicking on the required products and dragging them to the preferred place.</p>
            <p class="card-text">Once completed, just click 'Save' and you're done.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{url_for('static', filename='imgs/instruct6.png')}}" class="card-img" alt="Select a collection">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Quick Sort</h5>
            <p class="card-text">Use the quick sort feature to sort the products based on particularly criteria (e.g. stock levels, recency). For large collections, allow a few seconds for all products to be loaded and sorted</p>
            <p class="card-text">Once it's done, don't forget to hit Save to complete your changes.</p>
          </div>
        </div>
      </div>
    </div>

    <style>
      .wrapped-badge {
        word-wrap: break-word;  
        white-space: unset;
      }
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script script src="https://unpkg.com/@shopify/app-bridge"></script>

    <script type="text/javascript">
    // Init
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      apiKey: '06508637004c80c9f5f731440fb36242',
      shopOrigin: '{{shop}}',
    });

    var AppBridge = window['app-bridge'];
    var actions = AppBridge.actions;
    var Button = actions.Button;
    var ButtonGroup = actions.ButtonGroup;
    var Redirect = actions.Redirect;
    var TitleBar = actions.TitleBar;

    // Init redirect
    const redirect = Redirect.create(app);

    // Secondary buttons
    const homeButton = Button.create(app, {label: 'Home'});
    const contactButton = Button.create(app, {label: 'Contact'});
    const instructionsButton = Button.create(app, {label: 'Instructions'});
    const privacyButton = Button.create(app, {label: 'Privacy Policy'});
    const automationsButton = Button.create(app, {label: 'Automations'});

    const groupButton = ButtonGroup.create(app, {label: 'Navigation', buttons: [homeButton, contactButton,automationsButton, instructionsButton, privacyButton]});
    // Secondary buttons actions
    const viewContact = contactButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/contact');
    });
    const homeContact = homeButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/home');
    });
    const viewInstructions = instructionsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/instructions');
    });
    const viewPrivacy = privacyButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/privacy-policy');
    });
    const viewAutomations = automationsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/automations');
    });

    // Title bar
    const titleBarOptions = {
      title: 'Instructions',
      buttons: {
        secondary: [groupButton]
      },
    };
    const myTitleBar = TitleBar.create(app, titleBarOptions);
    </script>
    
  </body>
</html>