<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collection Merchandiser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script script src="https://unpkg.com/@shopify/app-bridge"></script>

    <script type="text/javascript">
    // Init
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.default;
    var app = createApp({
      apiKey: '06508637004c80c9f5f731440fb36242',
      shopOrigin: '{{shop}}',
    });

    var AppBridge = window['app-bridge'];
    var actions = AppBridge.actions;
    var Button = actions.Button;
    var ButtonGroup = actions.ButtonGroup;
    var Redirect = actions.Redirect;
    var TitleBar = actions.TitleBar;

    // Init redirect
    const redirect = Redirect.create(app);

    // Secondary buttons
    const homeButton = Button.create(app, {label: 'Home'});
    const contactButton = Button.create(app, {label: 'Contact'});
    const instructionsButton = Button.create(app, {label: 'Instructions'});
    const privacyButton = Button.create(app, {label: 'Privacy Policy'});
    const automationsButton = Button.create(app, {label: 'Automations'});

    const groupButton = ButtonGroup.create(app, {label: 'Navigation', buttons: [homeButton, contactButton,automationsButton, instructionsButton, privacyButton]});
    // Secondary buttons actions
    const viewContact = contactButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/contact');
    });
    const homeContact = homeButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/home');
    });
    const viewInstructions = instructionsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/instructions');
    });
    const viewPrivacy = privacyButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/privacy-policy');
    });
    const viewAutomations = automationsButton.subscribe(Button.Action.CLICK, data => {
      redirect.dispatch(Redirect.Action.APP, '/automations');
    });

    // Title bar
    const titleBarOptions = {
      title: 'Privacy Policy',
      buttons: {
        secondary: [groupButton]
      },
    };
    const myTitleBar = TitleBar.create(app, titleBarOptions);
    </script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="margin: 0 auto; padding:10%; background-color: #F4F6F8;">
    <h1>Privacy Policy</h1>
    <p>
      Collection Merchandiser Privacy Policy
      </br></br>
      Collection Merchandiser "the App” provides sort features "the Service" to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.
      </br></br>
      Personal Information the App Collects
      </br></br>
      When you install the App, we are automatically able to access certain types of information from your Shopify account: such as product information, store details and website analytics.
      </br></br>
      We collect personal information directly from the relevant individual, through your Shopify account, or using the following technologies: “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org. “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps. “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site. 
      </br></br>
      How Do We Use Your Personal Information?
      </br></br>
      We use the personal information we collect from you and your customers in order to provide the Service and to operate the App. Additionally, we may use this personal information to: Communicate with you; Optimize or improve the App; and Provide you with information or advertising relating to our products or services.
      </br></br>
      Sharing Your Personal Information
      </br></br>
      We may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights. Data is not shared with third party corporate entities or sold/traded.
      </br></br>
      [Your Rights If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.
      </br></br>
      Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.
      </br></br>
      Data Retention When you place an order through the Site, we will maintain your Order Information for our records, this may be stored by us for up to one year, unless and until you ask us to delete this information.
      </br></br>
      We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
      </br></br>
      Contact Us For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at help@matthewdenoronha.com.
    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>